/*
body {
    background: #592e2f;
    color: #b79697;
}
*/
footer {
    display: flex;
    align-items: center;
    justify-content: center
}
div.main-div {
    margin-bottom: 24px;
}
header {
    margin-top: 24px;
}